<div class="container text-center d-flex flex-column align-items-center mt-2">
  <a href="/" class="btn btn-primary d-block"><%=translate("default.home")%></a>
  <img src="/assets/images/404.png" alt="" class="img-fluid">
  <h1 class="text-primary m-0"><%=translate("default.page_not_found")%></h1>
</div>
