<footer>
  <nav class="navbar navbar-dark bg-dark fixed-bottom">
    <div class="container-fluid ">
      <span><%=translate("default.environment")%> : <%= get_environment%></span>
      <span ><%=translate("default.current_version")%> : <%=get_goroco%></span>
    </div>
  </nav>
</footer>
</html>
